*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.idea/
.vscode/
.history/
.sass-cache/
.versions/
node_modules/
coverage/

/build/
/scripts/build/
dist-ts/
**/www/build/

# submodule packages
/cli
/compiler
/hydrate
/dev-server
/server

test/**/www/*
test/**/hydrate/*
.stencil
